h2 {
	text-align: center;
	font-size: xx-large;
}

.blogs-flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	row-gap: 50px;
	column-gap: 50px;
	gap: 50px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1000px) {
	.blogs-flex-container {
		flex-direction: column;
	}
}
